[submodule "project/pcComponents/explorationModel"]
	path = project/pcComponents/explorationModel
	url = git@github.com:Hotzkow/ExplorationModel.git
[submodule "project/deviceCommonLib/deviceDaemonLib"]
	path = project/deviceCommonLib/deviceDaemonLib
	url = git@github.com:Hotzkow/PlatformInterfaceLib.git
